* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: powderblue;
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: soleil, Arial, Helvetica, sans-serif;
    color: rgba(235,0,139,1);
}

h1 {
    font-family: lust-sans, sans-serif;
    font-weight: 700;
    font-size: 50pt;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    color: rgba(235,0,139,1);
    animation-name: colors;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
}

@keyframes colors {
    0% {
        color: rgba(235,0,139,1);
    }

    20% {
        color: rgba(155,24,230,1);
    }

    40% {
        color: salmon;
    }

    60% {
        color: slategray;
    }

    80% {
        color: blue;
    }

    100% {
        color: rgba(235,0,139,1);
    }

}

p{
    color: rgba(235,0,139,1);
    text-align: center;
    font-family: soleil, sans-serif;
    font-size: 16pt;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    position: absolute;
}

#container {
    width: 60px;
    height: 40px;
    position: relative;
    margin-left: 50px;
}

#hover {
    width: 600px;
    height: 174px;
    position: relative;
    justify-content: center;
    left: 400px;
}

/* #main text {
    color: rgba(235,0,139,1);
    font-family: soleil, sans-serif;
    font-weight: 700;
    font-style: normal;
    z-index: -10;
    text-align: center;
} */

/* #main {
    background-color: white;
    opacity: 50%;
    padding-top: 20px;
    padding-left: 20px;
    width: 90px;
    height: 70px;
    position: absolute;
    left: 60px;
    top: 50px;
} */

.window {
    /* position: relative;
    z-index: -5;
    float: right;
    margin-right: 300px;
    margin-top: 50px; */
    position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    height: 300px;
    background: url("SVG/window.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.window:hover {
    background: url("SVG/window2.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.frame {
    /* position: relative;
    margin-top: 70px;
    margin-left: 400px; */
    position: absolute;
    top: 200px;
    left: 330px;
    width: 225px;
    height: 200px;
    background: url("SVG/frame.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.frame:hover {
    /* position: absolute;
    top: 0;
    left 0; */
    background: url("SVG/frame2.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.rug {
    position: absolute;
    top: 80%;
    left: 27%;
    width: 700px;
    height: 200px;
    background: url("SVG/rug.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.rug:hover {
    background: url("SVG/rug2.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

audio {
    position: absolute;
    top: 30px;
    right: 30px;
}

/* .rug {
    position: relative;
    margin-top: 140px;
    margin-left: 370px;
} */

/* .window2 {
    position: absolute;
    top: 100px;
    left: 100px;
} */

/* try this with javascript later */
/* .bunny {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 40px;
    background: url("SVG/bunnies.svg");
    background-size: contain;
    background-repeat: no-repeat;
} */

.bunnies {
    position: absolute;
    top: 660px;
    left: 420px;
    width: 50px;
    height: 40px;
    background: url("SVG/bunnies.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: left 5s ease-in;
}

.bunnies.moving {
    left: -50px;
    opacity: 1;
}

.bookshelf {
    position: absolute;
    top: 235px;
    right: 35px;
    width: 300px;
    height: 400px;
    background: url("SVG/bookshelf.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.bookshelf:hover {
    background: url("SVG/bookshelf\ copy.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

#interest {
    width: 600px;
    height: 174px;
    position: relative;
    justify-content: center;
    left: 540px;
}

/* .center-bookshelf {
    position: absolute;
    top: 25%;
    left: 36%;
    width: 400px;
    height: 700px;
    background: url("SVG/bookshelf.svg");
    background-size: contain;
    background-repeat: no-repeat;
} */

/* #set1 {
    background: url("SVG/no-bunnies.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

#set1:hover {
    background: url("SVG/set1\ copy.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 30.2%;
    left: 37.33%;
    width: 110px;
    height: 110px;
} */

.flip-shelf {
    background-color: transparent;
    width: 400px;
    height: 480px;
    perspective: 1000px;
    position: absolute;
    top: 25%;
    left: 36%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-shelf:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: rgba(154,108,255,1);
    color: white;
    transform: rotateY(180deg);
}

h3 {
    width: 400px;
    height: 50px;
    padding-top: 20px;
}

.button {
    background: rgb(57, 26, 141);
    color: white;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.menu {
    background: rgba(255,255,255, 0.5);
    color: rgba(235,0,139,1);
    font-family: soleil, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding-top: 22px;
    padding-left: 10px;
    width: 90px;
    height: 70px;
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

.menu:hover {
    background: rgba(235,0,139,1);
    color: white;
}